/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

body{
margin:0;
padding:0;
background: #000 url(../images/bg1.jpg) top center no-repeat;
font-family: Helvetica Neue, Helvetica, Arial;
}

.container{
width: 636px;
margin: 0 auto;
}

.header{
width:636px;
float: left;
padding-top: 20px;
}

.clear{
clear: both;
-webkit-appearance: none;
}

.coming_soon{
color: #000;
width: 636px;
padding-top: 300px;
float: left;
-webkit-appearance: none;
}

p{
color: #fff;
font-size: 16px;
text-align: center;
}

.information{
margin: 20px auto 0 auto;
padding-top: 20px;
background: url(../images/form.png) left top no-repeat;
height: 48px;
width: 307px;
padding: 9px 0 0 9px;
}

.main{
width: 299px;
height: 37px;
float: left;
background: url(../images/field.png) left top no-repeat;
}

.field{
width: 217px;
float: left;
border: none;
background: none;
height: 36px;
padding: 0 10px;
font-family: Helvetica Neue, Helvetica, Arial;
color: #304e62;
font-size: 14px;
font-weight: bold;
text-shadow: 1px 1px 0px #ffffff;
        filter: dropshadow(color=#ffffff, offx=1, offy=1);
}

.go{
border: 0;
width: 62px;
height: 36px;
float: left;
background: url(../images/go.png) left top no-repeat;cursor: pointer;
}

.go:hover{
background: url(../images/go.png) left bottom no-repeat;
}

input{
-webkit-border-radius:0px;
width: 62px;
}